<mat-card class="card">
  <mat-card-title>Edit contact</mat-card-title>
  <mat-card-content class="card-content">
    <form (submit)="updateContact()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="contact.name" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>1st surname</mat-label>
        <input
          matInput
          type="text"
          name="first_surname"
          [(ngModel)]="contact.first_surname"
          required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>2nd surname</mat-label>
        <input
          matInput
          type="text"
          name="second_surname"
          [(ngModel)]="contact.second_surname"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type="text" name="phone" [(ngModel)]="contact.phone" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="contact.email" required />
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save</mat-icon>
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="cancelUpdate()"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
