<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Category</title>
</head>
<body>
  <mat-card class="card">
    <mat-card-content class="card-content">
      <form (submit)="newCategory()">
    <mat-card-title>New Category</mat-card-title>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="name" required />
    </mat-form-field>
 

    <div class="button">
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-raised-button color="warn" (click)="cancelInsert()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </form>
    </mat-card-content>

  </mat-card>


  
</body>
</html>
