<mat-card class="card">
  <mat-card-title>Añadir Producto</mat-card-title>
  <mat-card-content class="card-content">
    <form (submit)="newProduct()">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="product.name" required/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Stock</mat-label>
        <input
          matInput
          type="number"
          name="stock"
          [(ngModel)]="product.stock"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input
          matInput
          type="number"
          name="price"
          [(ngModel)]="product.price"
          required
        />
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Categoría</mat-label>
        <mat-select name="category" [(ngModel)]="category.id" required>
          <mat-option
            *ngFor="let category of categories"
            [value]="category.id"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save</mat-icon>
        </button>

        <button mat-raised-button color="warn" (click)="cancelInsert()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>