<mat-card class="card">
  <mat-card-title>Detalle del producto</mat-card-title>
  <mat-card-content class="card-content">
    <p>
      <mat-icon>local_mall</mat-icon> <strong> Nombre:</strong> {{product.name}}
    </p>
    <p>
      <mat-icon>list_alt</mat-icon> <strong> Stock:</strong> {{product.stock}}
    </p>
    <p>
      <mat-icon>euro_symbol</mat-icon> <strong> Precio:</strong>  {{product.price}} €
    </p>
    <p>
      <mat-icon>check_circle</mat-icon> <strong> Activo:</strong>  {{product.active}}
    </p>
    <p>
      <mat-icon>date_range</mat-icon> <strong> Fecha inicial:</strong> {{product.date_added}}
    </p>
    <p>
      <mat-icon>category</mat-icon> <strong> Categoría:</strong> {{product.category_id.name}}
    </p>
  </mat-card-content>
</mat-card>

